# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = wiki_tag_extractor.settings

[deploy]
project = wiki_tag_extractor
